:root {
    --dl-color-gray-500: #595959;
    --dl-color-gray-700: #999999;
    --dl-color-gray-900: #D9D9D9;
    --dl-size-size-large: 144px;
    --dl-size-size-small: 48px;
    --dl-color-danger-300: #A22020;
    --dl-color-danger-500: #BF2626;
    --dl-color-danger-700: #E14747;
    --dl-color-gray-black: #000000;
    --dl-color-gray-white: #FFFFFF;
    --dl-size-size-medium: 96px;
    --dl-size-size-xlarge: 192px;
    --dl-size-size-xsmall: 16px;
    --dl-space-space-unit: 16px;
    --dl-color-primary-100: #003EB3;
    --dl-color-primary-300: #0074F0;
    --dl-color-primary-500: #14A9FF;
    --dl-color-primary-700: #85DCFF;
    --dl-color-success-300: #199033;
    --dl-color-success-500: #32A94C;
    --dl-color-success-700: #4CC366;
    --dl-size-size-xxlarge: 288px;
    --dl-size-size-maxwidth: 1400px;
    --dl-radius-radius-round: 50%;
    --dl-color-custom-accent1: #C9B8F9;
    --dl-color-custom-accent2: #89ADF6;
    --dl-space-space-halfunit: 8px;
    --dl-space-space-sixunits: 96px;
    --dl-space-space-twounits: 32px;
    --dl-color-custom-primary1: #222684;
    --dl-color-custom-primary2: #6466A8;
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-fiveunits: 80px;
    --dl-space-space-fourunits: 64px;
    --dl-space-space-threeunits: 48px;
    --dl-color-custom-secondary1: #F1DDD9;
    --dl-color-custom-neutral-dark: #080A45;
    --dl-color-custom-neutral-light: #FFFFFF;
    --dl-space-space-oneandhalfunits: 24px;
  }
  .buttonFilled {
    color: var(--dl-color-custom-neutral-light);
    transition: 0.3s;
    font-family: Bricolage Grotesque;
    font-weight: bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: 8px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-custom-primary1);
  }
  .buttonFilled:hover {
    background-color: var(--dl-color-custom-primary2);
  }
  .buttonFilledSecondary {
    color: var(--dl-color-custom-neutral-light);
    transition: 0.3s;
    font-family: Bricolage Grotesque;
    font-weight: bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: 8px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-custom-primary1);
  }
  .buttonFilledSecondary:hover {
    background-color: var(--dl-color-custom-primary2);
  }
  .buttonOutline {
    color: var(--dl-color-custom-neutral-dark);
    border: 1px solid;
    font-family: Bricolage Grotesque;
    font-weight: bold;
    padding-top: var(--dl-space-space-halfunit);
    border-color: var(--dl-color-custom-neutral-dark);
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: 8px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .buttonOutline:hover {
    color: var(--dl-color-custom-primary1);
    border-color: var(--dl-color-custom-primary1);
  }
  .buttonFlat {
    color: var(--dl-color-custom-neutral-dark);
    font-family: Bricolage Grotesque;
    font-weight: bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .buttonFlat:hover {
    color: var(--dl-color-custom-accent1);
  }
  .featuresContainer {
    flex: 0 0 auto;
    color: var(--dl-color-custom-neutral-dark);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-custom-secondary1);
  }
  .featuresCard {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #E5D2CE;
  }
  .featuresIcon {
    fill: var(--dl-color-custom-neutral-dark);
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .freePricingCard {
    gap: var(--dl-space-space-twounits);
    color: var(--dl-color-custom-neutral-dark);
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
    min-height: 450px;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-custom-accent1);
  }
  .basicPricingCard {
    gap: var(--dl-space-space-twounits);
    color: var(--dl-color-custom-neutral-dark);
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
    min-height: 450px;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-custom-accent1);
  }
  .proPricingCard {
    gap: var(--dl-space-space-twounits);
    color: var(--dl-color-custom-neutral-dark);
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-twounits);
    max-width: 450px;
    min-height: 450px;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-custom-accent1);
  }
  .faqContainer {
    flex: 0 0 auto;
    color: var(--dl-color-custom-neutral-light);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: var(--dl-color-custom-primary1);
  }
  .navbarContainer {
    color: var(--dl-color-custom-neutral-dark);
    width: 100%;
    display: flex;
    position: sticky;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: space-between;
    background-color: var(--dl-color-custom-neutral-light);
  }
  .mobileMenu {
    color: var(--dl-color-custom-neutral-dark);
    background-color: var(--dl-color-custom-neutral-light);
  }
  .heroContainer {
    color: var(--dl-color-custom-neutral-dark);
    width: 100%;
    display: flex;
    min-height: auto;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
    background-color: var(--dl-color-custom-neutral-light);
  }
  .pricingContainer {
    gap: var(--dl-space-space-twounits);
    color: var(--dl-color-custom-neutral-dark);
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: center;
    background-color: var(--dl-color-custom-neutral-light);
  }
  .bannerContainer {
    color: var(--dl-color-custom-neutral-dark);
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
    background-color: var(--dl-color-custom-neutral-light);
  }
  .footerContainer {
    color: var(--dl-color-custom-neutral-dark);
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
    background-color: var(--dl-color-custom-neutral-light);
  }
  .socialIcons {
    fill: var(--dl-color-custom-neutral-dark);
  }
  .button {
    color: var(--dl-color-gray-black);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .input {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .textarea {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .list {
    width: 100%;
    margin: 1em 0px 1em 0px;
    display: block;
    padding: 0px 0px 0px 1.5rem;
    list-style-type: none;
    list-style-position: outside;
  }
  .list-item {
    display: list-item;
  }
  .teleport-show {
    display: flex !important;
    transform: none !important;
  }
  .bodySmall {
    font-size: 16px;
    font-family: Bricolage Grotesque;
    font-weight: 400;
    line-height: 150%;
  }
  .Heading {
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .heading3 {
    font-size: 20px;
    text-align: center;
    font-family: Bricolage Grotesque;
    font-weight: 600;
    line-height: 150%;
  }
  .bodyLarge {
    font-size: 18px;
    font-family: Bricolage Grotesque;
    font-weight: 400;
    line-height: 150%;
  }
  .heading2 {
    font-size: 35px;
    font-family: Bricolage Grotesque;
    font-weight: 600;
    line-height: 150%;
  }
  .Content {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .heading1 {
    font-size: 48px;
    text-align: center;
    font-family: Bricolage Grotesque;
    font-weight: 700;
    line-height: 150%;
  }
  .overline {
    font-size: 12px;
    font-family: Bricolage Grotesque;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
  }
  .logo {
    font-size: 2em;
    font-family: Bricolage Grotesque;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
  }

  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .home-header {
    width: 100%;
    display: flex;
    z-index: 100;
    position: fixed;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
  }
  .home-navbar-interactive {
    top: 0px;
    right: 0px;
    height: 81px;
    position: absolute;
  }
  .home-desktop-menu {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  .home-links {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
  .home-nav22 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-nav32 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-nav42 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-buttons {
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-burger-menu {
    display: none;
  }
  .home-icon {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  .home-mobile-menu1 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .home-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-icon02 {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  .home-links1 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-nav121 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-nav221 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-nav321 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-buttons1 {
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .home-banner {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-banner-heading {
    text-align: center;
    color: darkgoldenrod;
    font-family: cursive;
    font-size: xxx-large;
  }
  .home-banner-sub-heading {
    max-width: var(--dl-size-size-maxwidth);
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
    padding: 1.5%;
  }
  .home-footer {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-container1 {
    gap: var(--dl-space-space-unit);
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-nav1 {
    flex: 0 0 auto;
    display: flex;
    margin-top: 0px;
    align-items: center;
    flex-direction: row;
  }
  .home-nav222 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-nav322 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-nav422 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-separator {
    flex: 0 0 auto;
    width: 100%;
    height: 0px;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-left: 0px;
    border-color: var(--dl-color-gray-900);
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .home-container2 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-icon-group1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-icon10 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon12 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon14 {
    width: 24px;
    height: 24px;
  }
  @media(max-width: 991px) {
    .home-banner-sub-heading {
      max-width: 100%;
    }
  }
  @media(max-width: 767px) {
    .home-navbar-interactive {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-desktop-menu {
      display: none;
    }
    .home-burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .home-nav121 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-nav221 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-nav321 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-nav421 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-banner1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-banner-sub-heading {
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
    }
    .home-footer1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-separator {
      margin-top: var(--dl-space-space-oneandhalfunits);
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .home-container2 {
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }
    .home-text14 {
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
  }
  @media(max-width: 479px) {
    .home-navbar-interactive {
      padding: var(--dl-space-space-unit);
    }
    .home-mobile-menu1 {
      padding: 16px;
    }
    .home-banner1 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .home-footer1 {
      padding: var(--dl-space-space-unit);
    }
    .home-separator {
      margin-top: var(--dl-space-space-oneandhalfunits);
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .home-container2 {
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }
    .home-text14 {
      text-align: center;
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
  }


  /* Form CSS */

  html {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(9,9,121);
    background: radial-gradient(circle, rgba(9,9,121,1) 8%, rgba(2,0,36,1) 84%, rgba(0,212,255,1) 100%);
    height: 100vh;
  }
  
  .ml-container {
    margin: 0 auto;
    max-width: 100%;
    padding: 40px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
  }
  
  .ml-container form {
    display: grid;
    grid-gap: 20px;
  }
  
  .ml-container label {
    font-weight: bold;
    color: #fff;
  }
  
  .ml-container input[type="text"],
  .ml-container select {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .ml-container a {
    position: relative;
    display: flex;
    padding: 15px 30px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    justify-content: center;
    align-items: center;
  }
  
  .ml-container a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .ml-container a span {
    position: absolute;
    display: block;
  }
  
  .ml-container a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .ml-container a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .ml-container a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .ml-container a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  } 

  .user-box option{
    color: #000000;
  }
  